*{
    margin: 0;
    padding: 0;
}
/* shared style  */

.font-open-sans{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.Btn{
    background-color: #FD6E0A;
    border: none; /*Btn modde kono border nai */
    padding: 18.28px 35px 19.3px 36px; /*Hire me lika ma background color theke koto dure ache */
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color:white;
    cursor: pointer;

}



.logo h2{
    font-size: 45px;
    font-weight: bolder;

}

/* aita a color ta garo sei jonno */
.color-orange{
    color:#FD6E0A;

}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

#about .about-container .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;

}

about .about-container .section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
 

/* main style  */



header{
    background-color:#181818;
    background: url("../images/developer.png") ,url("../images/header_bg.png");
    background-repeat: no-repeat; /*ai line use na korle ager line run korle img onek gola same photo aste.aita off korer jonno aita use kora hoise */
    background-position: top left,bottom right;
    padding-top: 91px;
}
nav{
    width:1370px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display:flex;
    justify-content:space-between ;
}
.menu{
    display: flex;
    list-style: none;
     gap: 51px; /*Hire me theke 51px gap */
     align-items: center;/*ai line na dile marry profile ek line chilo na ta ai line ta use korchi */
}
.menu a{
    font-size: 20px;
    color: #474747; /*aikane anchor golar fontsize r color nichi profilo r bloger */
    text-decoration: none; /* ai line ta korer ageh amader portfolio blog modde under line chilo aigola remove korer jonno aigola korchi */
}
#banner{
    border: 1px solid rebeccapurple;
    margin:46px 38px 0 230px;
    display:flex;/* aikene banner parent 2 ta child paragraph o img pasapasi rakse */
    justify-content: space-between;
    align-items: center;

}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
    

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    

}
#baner .banner-content p{
    font-size: 18px;
    color:#757575
    line-height 30px;

}

#banner .baner-image img{
    max-width: 584px;
    vertical-align: middle; /*ai line ta use na korle img ekta halka gap thake.aitake remove korer jonno ai line ta use kora hoi */
}

#about{
    padding-top:130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
/* ekon run korle code name r head ai likla gola modde asbe na.ai lika gola modde aser jonno amra text aligb center use korbo */

text-align: center;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;




}
#about .about-container .about-info .info-card p{

    font-size: 20px;
    line-height: 30px;
    color: #757575;


}

#about .about-container .about-info .info-card h4{

    font-size: 20px;
    font-weight: bold;
    line-height:30px;
    color: #474747;



}


#skills{
    padding-top: 130px;
}

#skills .skills-container{

    width:71%;
    max-width:1140px;
    margin: 0 auto;

}

#skills .skills-container .skills-box{
    display: flex;
    text-align: center;
    gap: 24px;

}
#skills .skills-container .skills-card{
    padding: 30px;
    max-width: 267px;

    /* box shadow use korbo javasicipt,node js aigolar modde ekta box create korer jonno */
     box-shadow: 0 6px 50px 0px; 

}

#skills .skills-container .skills-card img{
    max-width: 44px;
    padding-bottom: 30px;
}

#skills .skills-container .skills-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    max-width: 174px;
    margin-bottom: 20px;
    
}

#skills .skills-container .skills-card p{
    font-size: 18px;
    line-height: 28px;
    color: #757575;


}

#resume{
    padding-top: 130px;
    text-align: center;
}

#resume .resume-container{
    max-width: 1140px;
    width: 71%;
    margin:113px auto 0;
    display: flex;
    gap: 71px;
}

/* section title my education jeita ache aita use korbo ekon */

#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
     /* border: 1px solid red;  */
     margin-bottom: 30px;
}
#resume .resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;



}

#resume .resume-container .resume-card .card-title{
    max-width: 405px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#474747;
    /* border: 1px solid red; */

}

#resume .resume-container .resume-card .card-info{

    font-size: 20px;
    font-weight:600px;
    max-width: 309px;
    margin-bottom: 20px;
    color: #757575;

}
#resume .resume-container .resume-card .card-text{
    max-width: 511px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    /* margin-bottom: 60px; */
    /* border:1px solid green; */

}

#resume .resume-container hr{
    margin: 30px 0;
}






















