*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
}
.color-orange{
    color: #FD6E0A;
    font-weight: bolder;
}
nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;

}

   /* main style  */

header{
    background-color:#181818;
    padding-top: 34px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}